body{
    max-width: 1000px;
    margin: auto;
    align-content: center;
    padding: 15px 15px;
    background-color: aliceblue;
}

nav {
    margin: 0;
    padding: 0;
    text-align:center;
    list-style: none;
    background-color: lightslategrey;
    border-bottom: 4px solid gray;
    border-top: 3px solid gray;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
    border-radius: 6px;
}

nav li {
    display:inline-block;
}

nav li a {
    display: block;
    padding: 10px 15px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

nav li a:hover {
    color: white;
    background-color: black;
    border-radius: 4px;
}

ul li.active a,
ul li.active{
    background:darkgray;
    color: white;
    border-radius: 4px;
}